body {
  font-family: 'Poppins';
}



/* Show dropdown on hover */
@media (min-width: 992px) { /* large screens and up */
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}


@media (max-width:600px) {
  
  .orsngrf{
    color:blue;
  }
}

.orsngrf{
  color:orangered;
}

.navbar{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar-brand img{
  width:100%;
}

.nav-item{
  margin:0 2rem;
}

.dropdown-menu{
 border: none;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 --bs-dropdown-link-active-bg:lightgray;
 line-height: 2rem;
}

.navbar-nav a{
color:black;
font-weight: 600;
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: orangered;
  font-weight: bold;
}

.nav-item a:hover{
  color:orangered;
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 98%;
  transform: scaleX(0);
  height: 2px;
  bottom: 5px;
  left: 0;
  background-color: orangered;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.carousel-caption h1{
  font-family:sans-serif;
}

.mess p{
  margin: 0px;
  font-size:14px;
  color:black;
}

.mess .fa-solid {
color:orangered;
}

.abtsus{
  font-weight:bold;
}

.readbtn{
  background-color: orangered;
  color:white;
}

.readbtn:hover{
  background-color: rgb(209, 61, 8);
  color:white;
}

.viewbtn{
  background-color: rgb(209, 61, 8);
  color:white;
}

.viewbtn:hover{
  background-color: orangered;
  color:white;
}

.contbg{
  background-color: rgba(245, 77, 16, 0.074);
}

.cardbg{
  background-color: white;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-bottom: 5px solid white;
}

.cardbg:hover{
  transform: scaleX(1);
  border-bottom: 5px solid red;
  transition: .3s ease-in-out;
  transform-origin: bottom left;
}
.cardbg h5{
  font-weight: bold;
}


.cardbg img:hover{
   -webkit-filter: grayscale(0);
	filter: grayscale(0);
  cursor: pointer;
  transition: .3s ease-in-out;
}


.flip-card {
  background-color: transparent;
  width: 350px;
  height: 350px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front{
  background-image: url('./images/forkrepair.jpg');
 width: 350px;
 height:350px;
 background-size: cover;
 display: flex;
 align-items:end;
 justify-content: center;
}

.flip-card-front.main{
    background-image: url('./images/forkmaint.jpg');
     width: 350px;
 height:350px;
 background-size: cover;
 display: flex;
 align-items:end;
 justify-content: center;
}

.flip-card-front.rent{
    background-image: url('./images/forkrent.jpg');
     width: 350px;
 height:350px;
 background-size: cover;
 display: flex;
 align-items:end;
 justify-content: center;
}

.flip-card-front h3{
  color:white;
  opacity: 1;
  font-size: 25px;
  width: 100%;
  background-color: orangered;
  padding:10px;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  
}

/* Style the back side */
.flip-card-back {
  background-color: orangered;
  color: white;
  transform: rotateY(180deg);
    display: flex;
 align-items:center;
 justify-content: center;
 flex-direction: column;
 padding:0px 4px;
}

.flip-card-back p{
  font-size: 16px;
}


.footer{
}
